<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @note.notes_taken %>
</p>

<p>
  <strong>Game:</strong>
  <%= @note.game_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
